arthur,item1,1.5
arthur,item2,1.8
arthur,item3,1.03
samira,item4,1.2
samira,item2,1.5
samira,item3,1.1
simone,item1,1.02
simone,item4,1.99
paulo,item2,1.11
paulo,item3,1.23
bruna,item3,1.39
bruna,item4,1.2301